* {
  margin: 0;
  padding: 0;
  user-select: none;
}

a {
  text-decoration: none;
}

a.w3-btn:active, a.w3-btn:focus, a.w3-btn:hover {
  border-style: none;
  opacity:1.0;
  box-shadow:none;
  outline: none;
  background: none;
}

#titleText {
  margin-top: 6px;
  margin-left: 8px;
}

#searchInput {
  width: 97%;
  margin-left: 6px;
  margin-bottom: 6px;
  text-transform: lowercase;
}

#searchInput::-webkit-search-cancel-button{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: url('fontawesome-5.15.3/svgs/solid/times-circle.svg') no-repeat 50% 50%;
}

#repoList {
  width: 100%;
  list-style-type: none;
}

#settingsModal, #addModal {
  display: none;
}

#cloneRecursive {
  white-space: nowrap;
}

#consoleToggle {
}

#status {
  height: 6.1em;
  width: 99%;
  margin-top: 6px;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  resize: none;
}

.text-of {
  overflow: hidden;
  text-overflow: ellipsis;
}

.line {
  height: 2px;
  width: 100%;
}

.w3-input {
  outline: none;
  font-size: 1.5em;
  line-height: 1em;
  max-height: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.commit-message {
  minimum-height: 1em;
}

.tabInit, .tabImport {
  display: block;
}
